#root {
  display: flex;
  text-align: center;
  align-items: center;
}

/* Header component */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(209, 209, 214);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  height: 3rem;
}

/* Search bar + button */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  width: 30rem;
  border: 1px solid rgb(209, 209, 214);
  border-radius: 100px;
  color: #1e1e1e;
}

.search-button {
  background: #1e1e1e;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  position: absolute;
  right: 0rem;
}
.search-button:focus,
.search-button:hover {
  border: 1px solid #1e1e1e;
  background-color: #ffffff;
  color: #1e1e1e;
}

/* Login page */
.login-container {
  display: flex;
  height: 100vh; /* Full screen height */
}

.top-right-ellipse {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #000000;
  border-radius: 50% / 50%;
  z-index: 20;
}

.bottom-left-ellipse {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ffffff;
  border-radius: 50% / 50%;
  z-index: 20;
}

/* Welcome panel */
.welcome-panel {
  display: flex;
  flex-direction: column;
}

.rectangle {
  width: 50vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.bw-logo {
  width: 7rem;
  height: auto;
}

.welcome-text {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Login panel */
.login-panel {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.signin-button {
  padding: 0.75rem 3.5rem;
  font-size: 1em;
  font-family: inherit;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 100px;
  border: 1px solid transparent;
}
.signin-button:hover {
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
}

/* Search Results Modal */
.modal-backdrop {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-text {
  font-size: 1.6rem;
  font-weight: bold;
}

.search-modal {
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* prevent it from scrolling itself */
}

.prev-button {
  background: #000000;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
}
.prev-button:focus,
.prev-button:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #1e1e1e;
}
.prev-button:disabled {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  cursor: default;
}

.next-button {
  background: #000000;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
}
.next-button:focus,
.next-button:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #1e1e1e;
}
.next-button:disabled {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  cursor: default;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #000000;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
}

.close-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.book-tiles-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  justify-items: center;
}
.book-tiles-container::-webkit-scrollbar {
  width: 12px;
}
.book-tiles-container::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
.book-tiles-container::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.book-tile-container {
  width: 25rem;
  height: 16rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer; 
}

.book-cover-container {
  flex: 0 0 auto;
  width: 40%;
  margin-right: 1rem;
}

.book-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.book-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1rem;
  word-wrap: break-word;
  max-height: 17rem;
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -0.75rem;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-top: -0.4rem;
}

.book-author {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0rem;
  text-align: left;
}

.book-description {
  font-size: 0.9rem;
  color: #5c5b5b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

/* Book Modal */
.book-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.book-modal-container {
  position: relative;
  width: 60vw;
  height: 90vh;
  background-color: #ffffff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 2000;
}

.book-modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #000000;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
}

.book-modal-close-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}


